:root{
    --main-color: #4fc3f7;
    --secont-color: #7dd3b0 ;
    --main-text: #e8f0fe;
    --secont-text-color: #a0b4cc;
    --placeholder: #5a7a96;
}

.main_div{
    padding: 15px;
}

h2{
    font-size: 4rem;
}

.list_experience{
    padding-left: 3rem;
    margin: 10px 0;
}

h3, li{
    font-size: 2rem;
}

.second_list_item{
    padding-left: 3rem;
}

.second_item{
    list-style: circle;
}



