:root{
    --main-color: #4fc3f7;
    --secont-color: #7dd3b0 ;
    --main-text: #e8f0fe;
    --secont-text-color: #a0b4cc;
    --placeholder: #5a7a96;
}

.img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    box-shadow: 0px 0px 10px var(--main-color);
    border-radius: 50%; 

}

.h1_Welcome{
    text-align: center;
    font-size: 4rem;
    margin: 20px;
}

.content_MainPage{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 120px;
}

.text_main{
    text-align: center;
    font-size: 3rem;
}

.img_flex{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.5rem;
    text-align: center;
    padding: 25px;
    justify-content: center;
    align-items: center;
}


