:root{
    --main-color: #4fc3f7;
    --secont-color: #7dd3b0 ;
    --main-text: #e8f0fe;
    --secont-text-color: #a0b4cc;
    --placeholder: #5a7a96;
}

.title_aboutMe{
    text-align: center;
    font-size: 4rem;
    margin: 0px 20px;
}

.text_main{
    font-size: 2rem;
    padding: 25px;
}