*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Story Script", sans-serif; 
}

.head_nav{
    background-color: brown ;
}

.ul_menu{
    display: flex;
    justify-content: end;
    gap: 20px;
    margin: 0;
    padding: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.item_menu{
    background-color: beige;
    list-style: none;
    padding: 5px;
    border: 3px solid black;
    border-radius: 15px;
}

.link_menu{
    text-decoration: none;
    color: black;
}